html,
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header,
.footer {
  flex: none;
  background-color: #aaa;
  height: 50px;
  overflow: hidden;
}

.body.outer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.body.inner {
  overflow-y: scroll;
  flex: 1;
  background-color: #ddd;
}

label{
  font-size:20px;
  font-family:'Arial';
  text-align: center;
  display:block;
  padding:20px;
}